{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>This page is rendered as a Django Template</p>
    <h3>Happy Learning</h3>
</body>
<footer class="footer mt-auto py-3 dark-bg">
    <p class="m-0 text-center text-black">Made by Ser Josh</p>
    <p class="m-0 text-center text-black">Follow us: <i class="fab fa-facebook-square ms-3"></i>
        <i class="fab fa-twitter-square ms-3"></i>
        <i class="fab fa-instagram-square ms-3"></i>
        <i class="fab fa-youtube-square ms-3"></i>
    </p>
</footer>
</html>

{% endblock %}