{% extends "base.html" %}

{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="container-fluid logged-img"
    style="background-image: url({% static 'images/bookstars.jpg' %}); background-size: cover;">
    <div class="container form form-verify text-white">
        <h1>{% trans "Change Password" %}</h1>
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
</div>
{% endblock content %}