{% extends "base.html" %}

{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<!-- Password reset done content -->
<div class="container-fluid logged-img"
    style="background-image: url(https://res.cloudinary.com/dkbfmfd5z/image/upload/v1711582792/bookstars_xor54k.jpg)">
    <div class="container form form-verify text-white">
        <h1>{% trans "Change Password" %}</h1>
        <p>{% trans 'Your password is now changed.' %}</p>
    </div>
</div>
{% endblock content %}