@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=IM+Fell+English+SC&display=swap');

/* .big {color: red;} */
/* .book-cover {
    background-image: url('images/bookstars.jpg'); 
    background-size: cover;
} */


h1 {
    font-family: IM Fell English SC, sans-serif;
}

.welcome-card {
    top: 10%;
    background-color:rgba(233, 18, 18, 0);
    border-color: rgba(0, 0, 0, 0.0);
    color:white;
}


.story-card {
    top: 10%;
    background-color:rgba(0, 0, 0, 0.0);
    border-color: rgba(0, 0, 0, 0.0);
    color:white;
}

.big-story-card {
    background-color: rgba(0, 0, 0, 0.5)
}

.btn-welcome {
    background-color:rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.0);
    clip-path: polygon(
        15px 0,
        calc(100% - 15px) 0,
        100% 15px,
        100% calc(100% - 15px),
        calc(100% - 15px) 100%,
        15px 100%,
        0 calc(100% - 15px),
        0 15px);
    font-size: 15px;
}

/* #btn-welcome-id {
    font-weight: bold;
    font-size: 4em;
    transition: all 500ms;
}

#btn-welcome-id:hover {
    font-size:88px;
    font-size-adjust: 20px;
} */

.btn-welcome:hover {
    transform: scale(1.5);
  }

 .index-body {
    background-color: black;
 }

 .paginator {
    margin-top: 1rem;
 }

 .form {
    background-color: rgba(0, 0, 0, 0.5);
 }

 /* .story-edit {
    background-image: url('/static/images/bookstack.webp');
    background-size: cover;
 } */

 /* .login-a {
    background-image: url('/static/images/bookstars.jpg');
    background-size: cover;
 } */

 .hero-book {
    background-size: cover; 
    background-position: center center; 
    /* background-attachment: fixed; */
    max-width: 100%; 
    height: auto;
 }

 .w-icon {
    font-size:25px;
 }

 .nav-menu {
    font-size:18px;
    font-family: IM Fell English SC, sans-serif;
    /* margin-right:20px; */
 }

 .nav-menu a:hover {
    border-bottom: 1px solid white;
}

.copyright {
    font-family: IM Fell English SC, sans-serif;
}

.social-links {
    font-size: 160%;
    clear: both;
    word-spacing: 20px;
    color: white;
    text-decoration: none;
}
