/* .big {color: red;} */
/* .book-cover {
    background-image: url('images/bookstars.jpg'); 
    background-size: cover;
} */
.welcome-card {
    top: 10%;
    background-color:rgba(0, 0, 0, 0.0);
    border-color: rgba(0, 0, 0, 0.0);
    color:white;
}


.story-card {
    top: 10%;
    background-color:rgba(0, 0, 0, 0.0);
    border-color: rgba(0, 0, 0, 0.0);
    color:white;
}

.big-story-card {
    background-color: rgba(0, 0, 0, 0.5)
}

.btn-welcome {
    background-color:rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.0);
    clip-path: polygon(
        15px 0,
        calc(100% - 15px) 0,
        100% 15px,
        100% calc(100% - 15px),
        calc(100% - 15px) 100%,
        15px 100%,
        0 calc(100% - 15px),
        0 15px);
    font-size: 15px;
}

/* #btn-welcome-id {
    font-weight: bold;
    font-size: 4em;
    transition: all 500ms;
}

#btn-welcome-id:hover {
    font-size:88px;
    font-size-adjust: 20px;
} */

.btn-welcome:hover {
    transform: scale(1.5);
  }

 .index-body {
    background-color: black;
 }

 .paginator {
    margin-top: 1rem;
 }

 .form {
    background-color: rgba(0, 0, 0, 0.5);
 }

 .story-edit {
    background-image: url('/static/images/bookstack.webp');
    background-size: cover;
 }

 .login-a {
    background-image: url('/static/images/bookstars.jpg');
    background-size: cover;
 }
