{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- About content -->
<div class="hero-create"
    style="background-image: url(https://res.cloudinary.com/dkbfmfd5z/image/upload/v1711649619/library-dark2_t1xb61.png);">
    <div class="mx-auto text-white about">
        <h2>Welcome to Wordsmith</h2>
        <p>A space where you can turn your ideas into words, see them displayed to you on your screen, have the
            opportunity to manage them as you wish and share them with others around the world!</p>
        <p>Wordsmith gives you the opportunity to develop your own short story,. Your short story can be anything you
            desire as long as it only uses words of 50000 characters(letters and spacings).
            Once you have registered, you will have the opportunity to create your own story and read other peoples
            stories. In the creation of your story, you will give your
            story a Title, a Blurb (the back of a book), an image (Cover) for your story and of
            course the Story (content). Once you are happy just click on create. If you want anything changed in your story
            click
            on
            edit and if you want to delete your story just click delete. And of course if you want to read your or other
            stories just click on read.</p>
        <p>I leave it up to you and your imagination, Enjoy!</p>
        <br>
        <a class="btn btn-dark btn-welcome" href="{% url 'index' %}">Back</a>
    </div>
</div>
{% endblock content %}