{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="hero-create" style="background-image: url({% static 'images/library.png' %});">
    <div class="mx-auto text-white about">
        <h2>Welcome to Wordsmith</h2>
        <p>A space where you can turn your ideas into words, see them displayed to you on your screen, have the
            opportunity to manage them as you wish and share them with others around the world!</p>
        <p>Wordsmith gives you the opportunity to develop your own short story, and your short story can be anything you
            desire as long as it only uses words of 50000 characters(letters and spacings).
            Once you have registered, you will have the opportunity to create your own story and read other peoples
            stories. You will be asked to give
            your
            story a Title, and given the options to give it a Blurb (the back of a book), an image for your story and of
            course the content. Once you are happy just click on create, if you want anything changed in your story
            click
            on
            edit and if you want to delete your story just click delete. And ofcourse if you want to read your or other
            stories just click on read.</p>
        <p>I leave it up to you and your imagination, Enjoy!</p>
        <br>
        <a class="btn btn-dark btn-welcome" href="{% url 'index' %}">Back</a>
    </div>
</div>
{% endblock content %}