{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="hero-create" style="background-image: url(https://res.cloudinary.com/dkbfmfd5z/image/upload/v1711583882/library_etgh0c.png);">
  <div class="text-white create-div">
    <h2>Make your story come true</h2>
    {% if submitted %}
    <div class="successful-div">
      <h2>You Story has been Created Successfully!</h2>
      <br>
      <a class="btn btn-dark btn-welcome" href="{% url 'index' %}">Stories</a>
    </div>
    {% else %}
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Create" class="btn btn-dark btn-welcome">
      <a class="btn btn-dark btn-welcome" href="{% url 'index' %}">Back</a>
    </form>
    {% endif %}
  </div>
</div>
{% endblock content %}