{% extends "base.html" %}

{% load static %}

{% block content %}
    <center>
<div style="background-image: url({% static 'images/bookstack.webp' %}); background-size: cover;">
    <div class="form text-white " style="width: 55rem;">
    <h1>Edit Story</h1>
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input type="submit" value="Edit"
    class="btn btn-secondary">
</form>
</div>
</div>
   
</center>

</html>

{% endblock content %}