{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Edit Story content -->
<div class="hero-create"
    style="background-image: url(https://res.cloudinary.com/dkbfmfd5z/image/upload/v1711649619/library-dark2_t1xb61.png)">
    <div class="text-white create-div">
        <h2>Edit Story</h2>
        <!-- Edit Story form -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" value="Edit" class="btn btn-dark btn-welcome">
            <a class="btn btn-dark btn-welcome" href="{% url 'index' %}">Back</a>
        </form>
    </div>
</div>
{% endblock content %}