{% extends "base.html" %}

{% load cloudinary %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
</head>

<body>
  {% if user.is_authenticated %}

  <div class="index-body hero-book " style="background-image: url({% static 'images/book-hero.png' %});">
    <h1 class="text-center text-white mx-auto">Stories</h1>
    <!--Codestar-->
    <!-- <div class="col-12 mt-3 left ">
      <div class="row">
        {% for story in stories %}
        <div class="col-md-4 ">
          <div class="card mb-4 big-story-card ">
            <div class="card-body story-card st-align">
              <h2 class="card-title">{{ story.title }}</h2>
              <div class="image-container">
                <div class="image-flash">
                  {% if "placeholder" in story.story_cover.url %}
                  <img class="card-img-top" src="{% static 'images/book.png' %}" alt="placeholder image">
                  {% else %}
                  <img class="card-img-top" src=" {{ story.story_cover.url }}" alt="{{ story.title }}">
                  {% endif %}
                </div>
              </div>
              <p class="card-text">{{ story.blurb }}</p>
              </p>
              <div class="card-body mx-auto">
                <a href="{% url 'view-story' story.id %}" class="btn btn-dark btn-welcome">Read</a>
                <a href="{% url 'edit-story' story.id %}" class="btn btn-dark btn-welcome">Edit</a>
                <a href="{% url 'delete-story' story.id %}" class="btn btn-dark btn-welcome">Delete</a>
              </div>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">
        {% endif %}
        {% endfor %}

      </div>
    </div>
  </div> -->


    <!--My original stuff-->
    {% for story in stories %}
    <div class=" mx-auto big-story-card">
      <div class="card mx-auto story-card ">
        <div class="card-body mx-auto card-align">
          <h5 class="card-title">{{ story.title }} </h5>
          <p>By {{ story.auther }}</p>
        </div>


        {% if "placeholder" in story.story_cover.url %}
        <img class="card-img-top mx-auto" src="{% static 'images/book.png' %}" alt="placeholder image">
        {% else %}
        <img class="card-img-top mx-auto" src=" {{ story.story_cover.url }}" alt="{{ story.title }}">
        {% endif %}
        <div class="card-body mx-auto">
          <p class="card-text text-break">{{ story.blurb }}</p>
        </div>
        <div id="show-delete" class="card-body mx-auto">
          <a href="{% url 'view-story' story.id %}" class="btn btn-dark btn-welcome">Read</a>
          {% if user == story.auther %}
          <a href="{% url 'edit-story' story.id %}" class="btn btn-dark btn-welcome">Edit</a>
          <button href="#" id='deletor' class=" btn btn-dark btn-welcome">Delete</button>
          {% endif %}
        </div>
        <div id="hide" class="hidden-defence">
          <p>Are you Sure?</p>
          <a href="{% url 'delete-story' story.id %}" class=" btn btn-dark btn-welcome">Delete</a>
          <a href="#" id="cancelor" class=" btn btn-dark btn-welcome">Cancel</a>
        </div>
        <!-- {% url 'delete-story' story.id %} -->
    </div>
  </div>
  {% endfor %}

  <div class="">
    <ul class="pagination justify-content-center paginator">
      {% if stories.has_previous %}
      <li class="page-item bg-dark "><a href="?page=1" class="page-link bg-dark text-white page-text">&laquo First</a></li>

      <li class="page-item page-text "><a href="?page={{ stories.previous_page_number }}"
          class="page-link bg-dark text-white">Previous</a></li>

      {% endif %}

      <li class="page-item disabled page-text"><a href="#" class="page-link bg-dark text-white">
          Page {{ stories.number }} of {{ stories.paginator.num_pages }}
        </a></li>

      {% if stories.has_next %}
      <li class="page-item page-text"><a href="?page={{ stories.next_page_number }}" class="page-link bg-dark text-white">Next</a>
      </li>
      <li class="page-item "></li><a href="?page={{ stories.paginator.num_pages }}"
        class="page-link bg-dark text-white page-text">Last &raquo</a></li>

      {% endif %}
    </ul>
  </div>
  {% else %}
  <div class="container-fluid hero-book" style="background-image: url({% static 'images/book-hero.png' %});">
    <div class="card text-center mb-3 mx-auto p-2 welcome-card ">
      <div class="card-body d-grid gap-4 col-3 mx-auto">
        <a href="{% url 'account_login' %}" class="btn btn-dark btn-welcome">Sign&nbspIn</a>
        <br>
        <a href="{% url 'account_signup' %}" class="btn btn-dark btn-welcome">Sign&nbspUp</a>
        <br>
        <a href="{% url 'about' %}" class="btn btn-dark btn-welcome">About</a>
      </div>
    </div>

    {% endif %}
  </div>
</body>

</html>

{% endblock %}