{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
</head>
<body>
    <center>
    <h1>Stories</h1>
    <br>
    {% for story in story_list %}
    <a href="{% url 'view-story' story.id %}"><h2>{{ story.Title }}</h2></a>
    <p><strong>{{ story.Blurb }}</strong></p>
    <br>
    <!-- <p>{{ story.Content }}</p> -->
    {% endfor %}
    
</center>
</body>
<footer class="footer mt-auto py-3 dark-bg">
    <p class="m-0 text-center text-black">Made by Ser Josh</p>
    <p class="m-0 text-center text-black">Follow us: <i class="fab fa-facebook-square ms-3"></i>
        <i class="fab fa-twitter-square ms-3"></i>
        <i class="fab fa-instagram-square ms-3"></i>
        <i class="fab fa-youtube-square ms-3"></i>
    </p>
</footer>
</html>

{% endblock %}