{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Story Page</title>
</head>
<body>
    <center>
    
    <h1><strong>{{ story_view.Title }}</strong></h1>
    {% if story_view.Story_Cover %}
    <img src="{{ story_view.Story_Cover.url }}" alt="">
    {% endif %}
    <h3>By {{ user }}</h3>
    <br><br>
    <p><strong>{{ story_view.Blurb }}</strong></p>
    <br>
    <p>{{ story_view.Content | safe  }}</p>
    
    
    
    
</center>
</body>

</html>

{% endblock %}